/* white: #fffffd */
/* black: #16171e */
/* background-color: #38385b */
/* accent1: #3cc3e0 */
/* accent2: #eb994a */


@font-face {
    font-family: 'Luckiest Guy';
    src: local('Luckiest Guy'), url('../assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wellfleet';
    src: local('Wellfleet'), url('../assets/fonts/Wellfleet/Wellfleet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
  color: #eb994a;
}

h1, h2 {
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500; 
}

* {
  font-family: 'Wellfleet', monospace;
}

body {
  background-color: #38385b;
  color: #fffffd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%; /* Changed from 100vw to 100% */
  align-items: center;
}

body>* {
  max-width: 80ch;
  width: 100%;
}

header {
  width: 100%;
}

p {
  line-height: 1.5;

}

a {
  color: #3cc3e0;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #53d4f0;
  text-decoration: none;
}
